[submodule "modules/system"]
	path = modules/system
	url = ../system.git
[submodule "modules/tools"]
	path = modules/tools
	url = ../tools.git
[submodule "modules/data"]
	path = modules/data
	url = ../data.git
[submodule "modules/startup"]
	path = modules/startup
	url = ../startup.git
[submodule "modules/config"]
	path = modules/config
	url = ../config.git
[submodule "modules/network"]
	path = modules/network
	url = ../network.git
[submodule "modules/localisation"]
	path = modules/localisation
	url = ../localisation.git
[submodule "modules/database"]
	path = modules/database
	url = ../database.git
[submodule "modules/account"]
	path = modules/account
	url = ../account.git
[submodule "modules/widgets"]
	path = modules/widgets
	url = ../widgets.git
[submodule "modules/security"]
	path = modules/security
	url = ../security.git
[submodule "modules/cache"]
	path = modules/cache
	url = ../cache.git
[submodule "modules/form"]
	path = modules/form
	url = ../form.git
[submodule "modules/cms"]
	path = modules/cms
	url = ../cms.git
[submodule "modules/wiki"]
	path = modules/wiki
	url = ../wiki.git
[submodule "modules/mailer"]
	path = modules/mailer
	url = ../mailer.git
[submodule "modules/filestorage"]
	path = modules/filestorage
	url = ../filestorage.git
[submodule "modules/admin"]
	path = modules/admin
	url = ../admin.git
[submodule "modules/media"]
	path = modules/media
	url = ../media.git
[submodule "modules/error-handler"]
	path = modules/error-handler
	url = ../error-handler.git
[submodule "modules/log"]
	path = modules/log
	url = ../log.git
[submodule "modules/encryption"]
	path = modules/encryption
	url = ../encryption.git
[submodule "modules/time"]
	path = modules/time
	url = ../time.git
[submodule "modules/tasklist"]
	path = modules/tasklist
	url = ../tasklist.git
[submodule "modules/search"]
	path = modules/search
	url = ../search.git
[submodule "modules/seo"]
	path = modules/seo
	url = ../seo.git
[submodule "modules/forum"]
	path = modules/forum
	url = ../forum.git
[submodule "modules/filesystem"]
	path = modules/filesystem
	url = ../filesystem.git
