[submodule "modules/system"]
	path = modules/system
	url = ../system.git
[submodule "modules/tools"]
	path = modules/tools
	url = ../tools.git
[submodule "modules/data"]
	path = modules/data
	url = ../data.git
