[submodule "modules/system"]
	path = modules/system
	url = ../system.git
[submodule "modules/tools"]
	path = modules/tools
	url = ../tools.git
[submodule "modules/data"]
	path = modules/data
	url = ../data.git
[submodule "modules/startup"]
	path = modules/startup
	url = ../startup.git
[submodule "modules/config"]
	path = modules/config
	url = ../config.git
[submodule "modules/network"]
	path = modules/network
	url = ../network.git
[submodule "modules/localisation"]
	path = modules/localisation
	url = ../localisation.git
[submodule "modules/database"]
	path = modules/database
	url = ../database.git
[submodule "modules/account"]
	path = modules/account
	url = ../account.git
